.App {
  text-align: center;
  height: '100vh';
  background-color: hsl(0deg, 63%, 64%);
  min-height: '200vh';
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.clock-container {
  padding: 50px;
  background-color:hsl(0deg, 63%, 74%);
  display: inline-block;
  margin: 50px;
  width: 600px;
  max-width: 80vh;
  border-radius: 15px;
}

.settings-container {
  padding: 50px;
  background-color:hsl(0deg, 63%, 74%);
  display: inline-block;
  margin: 50px;
  width: 600px;
  max-width: 80vh;
  border-radius: 15px;
}

.submit-btn {
  margin-top: 50px;
}


.btn {
  margin: 5px;
}

.displayTime {
  margin: 50px;
  color: white;
  font-size: 15vh;
}


.input-group-text {
  border-radius: 5px 0px 0px 5px;
}