.App {
  text-align: center;
  height: '100vh';
  background-color: hsl(0deg, 63%, 64%);
  min-height: '200vh';
  transition: 1s;

}

.navigation {
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 40px;
  margin-top: 20px;
  cursor: pointer;
}

.clock-container {
  padding: 50px;
  background-color:hsl(0deg, 63%, 74%);
  display: inline-block;
  margin: 50px;
  width: 600px;
  max-width: 80vh;
  border-radius: 15px;
  transition: 1s;

}

.settings-container {
  padding: 50px;
  background-color:hsl(0deg, 63%, 74%);
  display: inline-block;
  margin: 50px;
  width: 600px;
  max-width: 80vh;
  border-radius: 15px;
  transition: 1s;

}

.submit-btn {
  margin-top: 50px;
}


.btn {
  margin: 5px;
}

.mode-btn {
  margin: 5px;
  --bs-btn-color: white !important;
  --bs-btn-border-width: 1px !important;

  --bs-btn-hover-border-color: white !important;
}


.mode-btn:focus {
  --bs-btn-border-color: white !important;
  border-color: white !important;

}

.mode-btn:active {
  border-color: white !important;
  /* --bs-btn-border-color: white !important; */
}

.mode-btn:hover {
  border-color: white;
  --bs-btn-border-color: white !important;
}

.displayTime {
  margin: 50px;
  color: white;
  font-size: 15vh;
}


.input-group-text {
  border-radius: 5px 0px 0px 5px;
}

.settings-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
  color: white;
}

.mode-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  color: white;
}